# Homework 3: Practical Databases
Students: Itamar Aron, Ben Kapner, Micaela Singer

In [1]:
import sqlite3
import pandas as pd

## Database Scheme

In [4]:
c = conn.cursor()

In [91]:
c.execute('''
          CREATE TABLE IF NOT EXISTS dim_players
          ([name] TEXT,
           [id] INTEGER PRIMARY KEY,
           [age] INTEGER,
           [team] TEXT,
           [nationality] TEXT,
           [prefered_foot] TEXT,
           [role] TEXT)
          ''');

In [72]:
c.execute('''
    CREATE TABLE IF NOT EXISTS goalkeepers
          ([match_number] INTEGER KEY,
           [game_team] TEXT,
           [goalkeeper_name] TEXT,
           [id] INTEGER PRIMARY KEY,
           [goalkeeper_fantasy_points] INTEGER,
           [goalkeeper_saves] INTEGER,
           [min_played] INTEGER
           )
          ''');

In [50]:
c.execute('''
    CREATE TABLE IF NOT EXISTS matches 
    ([team] TEXT KEY, 
        [opponent_team] TEXT, 
        [game_week] INTEGER,
        [match_number] INTEGER KEY,
        [date_of_play] DATE, 
        [weekday_of_play] TEXT, 
        [hour_of_play] INTEGER, 
        [result] TEXT, 
        [goals_scored] INTEGER, 
        [goals_conceded] INTEGER, 
        [total_goals] INTEGER, 
        [location] TEXT, 
        [referee] TEXT, 
        [crowd] INTEGER
    )
''')

In [53]:
c.execute('''
    CREATE TABLE IF NOT EXISTS stats 
    ([match_number] INTEGER PRIMARY KEY, 
        [yellow_cards] INTEGER, 
        [red_cards] INTEGER,
        [offsides] INTEGER,
        [corners] INTEGER
    )
''')

In [59]:
c.execute('''
    CREATE TABLE IF NOT EXISTS teams
          ([name] TEXT PRIMARY KEY,
           [budget] INTEGER,
           [home] TEXT
           )
''');

In [82]:
c.execute('''
    CREATE TABLE IF NOT EXISTS scorers
          ([id] INTEGER,
           [name] TEXT,
           [goal_type] TEXT,
           [goal_minute] INTEGER,
           [match_number] INTEGER KEY
           )
''');

In [89]:
##IF WE NEED TO DELETE A WHOLE TABLE
c.execute('''
DROP TABLE dim_players;
''')

In [ ]:
##IF WE NEED TO DELETE ROWS
c.execute('''
DELETE FROM dim_players
''')

## Insert data

In [92]:
c.execute('''
INSERT INTO dim_players (Name, id, Age, team, Nationality, Prefered_foot, Role) VALUES
('Charles Harrison', 306304, 23, 'Royal Tigers','El Salvador', 'RIGHT', 'striker'),
('Robert Williams', 263618, 38, 'Star United','Kyrgyzstan', 'RIGHT', 'midfielder'),
('Jeffrey Young', 102324, 25, 'Galaxy FC','India', 'RIGHT', 'striker'),
('Matthew Cook', 942801, 26, 'Victory United','Guinea', 'RIGHT', 'goalkeeper'),
('David Turner', 223835, 17, 'Star United','Congo', 'RIGHT', 'defender'),
('Matthew Anderson', 649081, 22, 'Golden Falcons','Vatican City', 'RIGHT', 'goalkeeper'),
('Frank James', 119395, 36, 'Victory United','Namibia', 'RIGHT', 'midfielder'),
('Matthew Hayes', 994223, 29, 'Star United','Israel', 'LEFT', 'goalkeeper'),
('Anthony Curtis', 668819, 27, 'Victory United','Madagascar', 'RIGHT', 'goalkeeper'),
('Daniel Dixon', 430081, 29, 'Victory United','Suriname', 'RIGHT', 'defender'),
('Stephen Lopez', 657199, 34, 'Thunder Strikers','Tonga', 'RIGHT', 'midfielder'),
('James Ford', 777350, 33, 'Phoenix Rovers','Finland', 'RIGHT', 'striker'),
('Matthew Hayes', 544186, 22, 'Galaxy FC','Botswana', 'RIGHT', 'midfielder'),
('Donald Long', 432493, 38, 'Fireball FC','Angola', 'RIGHT', 'striker'),
('Thomas Rogers', 622400, 28, 'Golden Falcons','Philippines', 'LEFT', 'midfielder'),
('Joseph Miller', 258065, 18, 'Lightning Warriors','Jordan', 'RIGHT', 'goalkeeper'),
('Joshua Garcia', 626995, 24, 'Star United','Finland', 'RIGHT', 'striker'),
('Anthony Morgan', 305729, 28, 'Dynamo Lions','Togo', 'RIGHT', 'defender'),
('Thomas Spencer', 511053, 37, 'Dynamo Lions','Malta', 'RIGHT', 'goalkeeper'),
('John Evans', 810138, 32, 'Fireball FC','Egypt', 'LEFT', 'goalkeeper'),
('Daniel Reed', 664968, 37, 'Fireball FC','India', 'RIGHT', 'striker'),
('Joseph Sanchez', 408900, 35, 'Thunder Strikers','Guyana', 'RIGHT', 'goalkeeper'),
('Matthew Boyd', 632919, 23, 'Dynamo Lions','Greece', 'LEFT', 'midfielder'),
('Jeffrey Gray', 861808, 23, 'Fireball FC','Vietnam', 'RIGHT', 'striker'),
('John Johnson', 373556, 33, 'Dynamo Lions','Mongolia', 'RIGHT', 'goalkeeper'),
('Michael Baker', 569923, 25, 'Fireball FC','Zambia', 'RIGHT', 'midfielder'),
('Daniel Dixon', 639331, 38, 'Galaxy FC','Belgium', 'RIGHT', 'goalkeeper'),
('John Evans', 566345, 28, 'Victory United','Korea, South', 'LEFT', 'goalkeeper'),
('Jeffrey Young', 219728, 30, 'Phoenix Rovers','Croatia', 'RIGHT', 'striker'),
('Anthony Morgan', 586071, 22, 'Star United','Cyprus', 'RIGHT', 'defender'),
('Charles Wilson', 161485, 37, 'Golden Falcons','Slovenia', 'RIGHT', 'goalkeeper'),
('Robert Stewart', 277490, 35, 'Dynamo Lions','Mexico', 'RIGHT', 'goalkeeper'),
('Kenneth Martinez', 809626, 25, 'Star United','Maldives', 'RIGHT', 'defender'),
('Matthew Anderson', 916124, 32, 'Royal Tigers','Mauritania', 'RIGHT', 'striker'),
('John Evans', 183519, 36, 'Thunder Strikers','Equatorial Guinea', 'RIGHT', 'defender'),
('Kenneth Price', 503513, 32, 'Galaxy FC','Kenya', 'RIGHT', 'goalkeeper'),
('Frank King', 316663, 36, 'Phoenix Rovers','Chad', 'LEFT', 'striker'),
('Robert Stewart', 290857, 21, 'Golden Falcons','Malaysia', 'RIGHT', 'midfielder'),
('Christopher Campbell', 568319, 29, 'Dynamo Lions','Kuwait', 'RIGHT', 'goalkeeper'),
('Joseph Payne', 896306, 24, 'Fireball FC','Vietnam', 'RIGHT', 'goalkeeper'),
('Anthony Curtis', 659299, 31, 'Dynamo Lions','Solomon Islands', 'RIGHT', 'defender'),
('Donald Long', 764296, 29, 'Victory United','Georgia', 'RIGHT', 'striker'),
('Frank James', 518218, 35, 'Galaxy FC','Rwanda', 'RIGHT', 'goalkeeper'),
('Christopher Myers', 204125, 34, 'Thunder Strikers','Senegal', 'RIGHT', 'striker'),
('Matthew Cook', 946516, 38, 'Golden Falcons','Ghana', 'RIGHT', 'striker'),
('Andrew Brooks', 469804, 22, 'Galaxy FC','Vatican City', 'RIGHT', 'midfielder'),
('Scott Ramirez', 746169, 25, 'Golden Falcons','Bhutan', 'RIGHT', 'goalkeeper'),
('John Pierce', 362384, 28, 'Lightning Warriors','Israel', 'RIGHT', 'defender'),
('Mark Jackson', 801804, 31, 'Victory United','Cambodia', 'LEFT', 'goalkeeper'),
('Brian Clark', 769147, 19, 'Dynamo Lions','Austria', 'RIGHT', 'goalkeeper'),
('Steven Murphy', 152732, 34, 'Victory United','Uruguay', 'RIGHT', 'midfielder'),
('Daniel Dixon', 521235, 34, 'Fireball FC','Eswatini', 'RIGHT', 'goalkeeper'),
('Joseph Miller', 924246, 33, 'Star United','Albania', 'LEFT', 'goalkeeper'),
('Matthew Anderson', 468152, 17, 'Phoenix Rovers','Uganda', 'LEFT', 'goalkeeper'),
('Christopher Wright', 244698, 29, 'Lightning Warriors','Moldova', 'RIGHT', 'defender'),
('Christopher Wright', 691841, 22, 'Royal Tigers','Yemen', 'RIGHT', 'striker'),
('Kenneth Price', 422444, 18, 'Thunder Strikers','Switzerland', 'RIGHT', 'midfielder'),
('Robert Stewart', 530765, 34, 'Golden Falcons','Mauritius', 'LEFT', 'goalkeeper'),
('Anthony Thomas', 155935, 25, 'Thunder Strikers','Central African Republic', 'RIGHT', 'midfielder'),
('Thomas Moore', 162258, 23, 'Dynamo Lions','Singapore', 'RIGHT', 'goalkeeper'),
('John Johnson', 869371, 36, 'Galaxy FC','Tuvalu', 'RIGHT', 'goalkeeper'),
('Joseph Payne', 491665, 37, 'Royal Tigers','Brunei', 'LEFT', 'defender'),
('John Johnson', 567170, 33, 'Phoenix Rovers','Sweden', 'RIGHT', 'defender'),
('Robert Stewart', 563611, 37, 'Star United','Slovakia', 'RIGHT', 'goalkeeper'),
('Andrew Rivera', 155889, 37, 'Star United','Madagascar', 'RIGHT', 'goalkeeper'),
('Jeffrey Gray', 145681, 17, 'Star United','Algeria', 'RIGHT', 'goalkeeper'),
('James Ford', 485768, 24, 'Royal Tigers','Sierra Leone', 'RIGHT', 'goalkeeper'),
('Robert Gonzalez', 241398, 30, 'Thunder Strikers','Brunei', 'LEFT', 'striker'),
('Matthew Hayes', 154903, 29, 'Thunder Strikers','Denmark', 'RIGHT', 'midfielder'),
('Joshua Garcia', 385634, 32, 'Golden Falcons','Argentina', 'RIGHT', 'defender'),
('Steven Russell', 808567, 17, 'Golden Falcons','Vanuatu', 'RIGHT', 'striker'),
('Christopher Myers', 332629, 23, 'Galaxy FC','Venezuela', 'RIGHT', 'striker'),
('Scott Ramirez', 717100, 26, 'Victory United','Lebanon', 'RIGHT', 'striker'),
('John Johnson', 742891, 28, 'Thunder Strikers','Monaco', 'RIGHT', 'goalkeeper'),
('Steven Russell', 896138, 17, 'Star United','Morocco', 'RIGHT', 'striker'),
('David Brewer', 318317, 24, 'Victory United','Bahamas', 'RIGHT', 'goalkeeper'),
('Matthew Cook', 375470, 20, 'Dynamo Lions','Azerbaijan', 'RIGHT', 'goalkeeper'),
('Paul Nelson', 685950, 22, 'Dynamo Lions','Monaco', 'RIGHT', 'midfielder'),
('Kenneth Price', 169150, 20, 'Golden Falcons','Nigeria', 'RIGHT', 'goalkeeper'),
('Matthew Cook', 659116, 35, 'Royal Tigers','Philippines', 'RIGHT', 'goalkeeper'),
('Edward Cox', 510612, 33, 'Star United','Canada', 'RIGHT', 'striker'),
('Donald Bell', 647181, 29, 'Galaxy FC','Belize', 'RIGHT', 'striker'),
('Matthew Anderson', 121301, 30, 'Thunder Strikers','Turkey', 'RIGHT', 'striker'),
('James Ford', 529729, 38, 'Galaxy FC','Antigua and Barbuda', 'RIGHT', 'defender'),
('Andrew Rivera', 205354, 18, 'Royal Tigers','Albania', 'RIGHT', 'striker'),
('David Ward', 299900, 29, 'Victory United','Samoa', 'RIGHT', 'striker'),
('Steven Powell', 651298, 33, 'Royal Tigers','Angola', 'LEFT', 'defender'),
('James Smith', 882059, 24, 'Phoenix Rovers','Spain', 'RIGHT', 'midfielder'),
('David Brewer', 410555, 21, 'Dynamo Lions','Slovakia', 'RIGHT', 'midfielder'),
('Michael Baker', 594201, 23, 'Golden Falcons','Barbados', 'RIGHT', 'midfielder'),
('Anthony Morgan', 352711, 36, 'Royal Tigers','Dominica', 'LEFT', 'midfielder'),
('Kenneth Hill', 402987, 38, 'Golden Falcons','Iran', 'LEFT', 'striker'),
('Kevin Robinson', 414043, 22, 'Dynamo Lions','Ecuador', 'RIGHT', 'striker'),
('Charles Wilson', 133923, 24, 'Phoenix Rovers','Bhutan', 'RIGHT', 'goalkeeper'),
('Daniel Walker', 734567, 22, 'Phoenix Rovers','Cuba', 'RIGHT', 'goalkeeper'),
('Eric Hall', 454198, 20, 'Fireball FC','Guyana', 'RIGHT', 'midfielder'),
('Joshua Cooper', 413103, 30, 'Phoenix Rovers','Qatar', 'RIGHT', 'striker'),
('William Brown', 490075, 20, 'Dynamo Lions','Ireland', 'RIGHT', 'midfielder'),
('William Hamilton', 808701, 20, 'Royal Tigers','Mexico', 'RIGHT', 'midfielder'),
('William Brown', 543853, 21, 'Golden Falcons','Bahamas', 'RIGHT', 'goalkeeper'),
('Michael Collins', 384308, 20, 'Lightning Warriors','Portugal', 'RIGHT', 'goalkeeper'),
('James Ford', 955982, 25, 'Galaxy FC','Afghanistan', 'RIGHT', 'goalkeeper'),
('Steven Powell', 374331, 32, 'Royal Tigers','Morocco', 'RIGHT', 'defender'),
('David Davis', 831173, 33, 'Galaxy FC','Sudan', 'RIGHT', 'goalkeeper'),
('Thomas Spencer', 843655, 31, 'Phoenix Rovers','Hungary', 'RIGHT', 'striker'),
('Daniel Fisher', 743319, 29, 'Dynamo Lions','San Marino', 'RIGHT', 'goalkeeper'),
('Daniel Walker', 795261, 26, 'Phoenix Rovers','North Macedonia', 'RIGHT', 'goalkeeper'),
('Daniel Walker', 194747, 26, 'Galaxy FC','Madagascar', 'RIGHT', 'goalkeeper'),
('Matthew Anderson', 923472, 20, 'Victory United','South Africa', 'RIGHT', 'defender'),
('Michael Jones', 655210, 30, 'Thunder Strikers','Moldova', 'RIGHT', 'defender'),
('Christopher Myers', 591660, 27, 'Phoenix Rovers','South Africa', 'RIGHT', 'striker'),
('Jason Allen', 502895, 24, 'Galaxy FC','Burundi', 'RIGHT', 'goalkeeper'),
('David Lee', 926694, 19, 'Galaxy FC','East Timor', 'RIGHT', 'goalkeeper'),
('Thomas Spencer', 932715, 20, 'Thunder Strikers','Ireland', 'RIGHT', 'goalkeeper'),
('Charles Morris', 428734, 23, 'Royal Tigers','Latvia', 'RIGHT', 'striker'),
('Robert Berry', 719292, 18, 'Star United','Japan', 'RIGHT', 'goalkeeper'),
('Scott Ramirez', 975668, 22, 'Golden Falcons','Kuwait', 'RIGHT', 'midfielder'),
('William Brown', 382372, 33, 'Dynamo Lions','United Arab Emirates', 'RIGHT', 'goalkeeper'),
('Andrew Rivera', 303293, 31, 'Galaxy FC','Palau', 'LEFT', 'defender'),
('Paul Martin', 505619, 31, 'Victory United','Afghanistan', 'RIGHT', 'goalkeeper'),
('Joshua Coleman', 386206, 21, 'Galaxy FC','Central African Republic', 'LEFT', 'goalkeeper'),
('Steven Russell', 136752, 26, 'Royal Tigers','Ukraine', 'RIGHT', 'goalkeeper'),
('Anthony Curtis', 722997, 23, 'Phoenix Rovers','United Kingdom', 'RIGHT', 'striker'),
('Jason Peterson', 297900, 21, 'Royal Tigers','Czech Republic', 'RIGHT', 'defender'),
('David Lee', 963424, 26, 'Phoenix Rovers','United States', 'RIGHT', 'goalkeeper'),
('Stephen Lopez', 957340, 35, 'Fireball FC','United Kingdom', 'RIGHT', 'goalkeeper'),
('Jason Allen', 651412, 29, 'Thunder Strikers','Vatican City', 'RIGHT', 'striker'),
('Robert Berry', 108630, 29, 'Golden Falcons','Tuvalu', 'LEFT', 'goalkeeper'),
('Robert Butler', 728812, 28, 'Galaxy FC','Guatemala', 'RIGHT', 'striker'),
('Robert Williams', 872007, 37, 'Victory United','Philippines', 'RIGHT', 'goalkeeper'),
('Frank King', 945359, 36, 'Royal Tigers','Turkey', 'RIGHT', 'defender'),
('Jeffrey Young', 112250, 35, 'Royal Tigers','Italy', 'RIGHT', 'defender'),
('Christopher Wright', 141874, 36, 'Lightning Warriors','Belize', 'RIGHT', 'goalkeeper'),
('John Evans', 575061, 29, 'Royal Tigers','Slovakia', 'RIGHT', 'goalkeeper'),
('Joshua Garcia', 629329, 19, 'Galaxy FC','Congo', 'RIGHT', 'striker'),
('Charles Morris', 199555, 32, 'Royal Tigers','Solomon Islands', 'RIGHT', 'goalkeeper'),
('Daniel Taylor', 281016, 17, 'Thunder Strikers','Bangladesh', 'LEFT', 'goalkeeper'),
('Matthew Hayes', 235099, 29, 'Star United','Denmark', 'RIGHT', 'goalkeeper'),
('Steven Perez', 536933, 33, 'Royal Tigers','Sao Tome and Principe', 'RIGHT', 'defender'),
('Matthew Hayes', 692599, 24, 'Royal Tigers','East Timor', 'RIGHT', 'defender'),
('Christopher Campbell', 106074, 25, 'Royal Tigers','Czech Republic', 'RIGHT', 'goalkeeper'),
('Thomas Moore', 977647, 21, 'Star United','Mauritius', 'RIGHT', 'goalkeeper'),
('Paul Barnes', 727227, 36, 'Royal Tigers','Venezuela', 'LEFT', 'goalkeeper'),
('William Brown', 984344, 17, 'Victory United','Albania', 'RIGHT', 'midfielder'),
('John Evans', 360389, 32, 'Thunder Strikers','Moldova', 'RIGHT', 'striker'),
('Joseph Miller', 406061, 19, 'Galaxy FC','Guyana', 'LEFT', 'midfielder'),
('Stephen Brooks', 841540, 26, 'Thunder Strikers','Fiji', 'RIGHT', 'goalkeeper'),
('George Howard', 736057, 34, 'Lightning Warriors','Iran', 'RIGHT', 'midfielder'),
('Charles Morris', 427331, 22, 'Phoenix Rovers','Marshall Islands', 'RIGHT', 'goalkeeper'),
('Michael Collins', 421132, 17, 'Fireball FC','Palestine', 'RIGHT', 'goalkeeper'),
('Edward Cox', 648522, 31, 'Galaxy FC','Russia', 'RIGHT', 'defender'),
('Robert Butler', 209634, 34, 'Star United','South Africa', 'RIGHT', 'goalkeeper'),
('William Brown', 623999, 32, 'Royal Tigers','Ghana', 'LEFT', 'goalkeeper'),
('David Davis', 485810, 26, 'Victory United','Malawi', 'RIGHT', 'striker'),
('Scott Ramirez', 131225, 23, 'Golden Falcons','Samoa', 'RIGHT', 'defender'),
('Robert Berry', 883054, 18, 'Dynamo Lions','United States', 'RIGHT', 'goalkeeper'),
('Robert Gonzalez', 974556, 24, 'Phoenix Rovers','Equatorial Guinea', 'LEFT', 'defender'),
('Kenneth Martinez', 117118, 17, 'Lightning Warriors','Madagascar', 'RIGHT', 'striker'),
('Stephen Lopez', 546797, 33, 'Star United','United States', 'LEFT', 'midfielder'),
('Michael Andrews', 209863, 28, 'Star United','Bangladesh', 'RIGHT', 'goalkeeper'),
('Paul Martin', 239899, 27, 'Royal Tigers','Norway', 'RIGHT', 'midfielder'),
('Christopher Myers', 324799, 20, 'Royal Tigers','South Africa', 'RIGHT', 'goalkeeper'),
('David Ward', 401302, 28, 'Golden Falcons','Paraguay', 'RIGHT', 'goalkeeper'),
('William Edwards', 441995, 38, 'Galaxy FC','Georgia', 'RIGHT', 'midfielder'),
('Mark Mitchell', 819800, 17, 'Fireball FC','Haiti', 'RIGHT', 'goalkeeper'),
('Donald White', 303216, 36, 'Dynamo Lions','Tunisia', 'RIGHT', 'goalkeeper'),
('Steven Powell', 176436, 29, 'Royal Tigers','Ecuador', 'RIGHT', 'goalkeeper'),
('Robert Berry', 229873, 21, 'Phoenix Rovers','Oman', 'LEFT', 'midfielder'),
('Matthew Cook', 797490, 30, 'Royal Tigers','South Sudan', 'RIGHT', 'goalkeeper'),
('Jason Allen', 357776, 33, 'Phoenix Rovers','Turkey', 'RIGHT', 'goalkeeper'),
('Scott Hernandez', 203242, 29, 'Dynamo Lions','Benin', 'LEFT', 'goalkeeper'),
('Steven Russell', 224961, 35, 'Galaxy FC','Turkmenistan', 'RIGHT', 'goalkeeper'),
('Michael Andrews', 612109, 26, 'Galaxy FC','Latvia', 'RIGHT', 'striker'),
('David Diaz', 200966, 35, 'Lightning Warriors','Zambia', 'RIGHT', 'striker'),
('Mark Jackson', 893231, 19, 'Fireball FC','Eswatini', 'LEFT', 'defender'),
('George Howard', 110245, 26, 'Lightning Warriors','Canada', 'RIGHT', 'midfielder'),
('Andrew Thompson', 296795, 23, 'Phoenix Rovers','Iraq', 'RIGHT', 'defender'),
('Kevin Robinson', 637734, 29, 'Phoenix Rovers','Oman', 'RIGHT', 'midfielder'),
('Brian Richardson', 243982, 31, 'Victory United','Liberia', 'RIGHT', 'defender'),
('Joseph Payne', 547607, 31, 'Star United','Gabon', 'LEFT', 'midfielder'),
('Thomas Spencer', 940519, 19, 'Phoenix Rovers','Belarus', 'RIGHT', 'goalkeeper'),
('Donald Long', 824762, 24, 'Thunder Strikers','Cabo Verde', 'RIGHT', 'goalkeeper'),
('Joseph Miller', 990032, 32, 'Royal Tigers','Sao Tome and Principe', 'RIGHT', 'defender'),
('Michael Andrews', 867543, 23, 'Fireball FC','Burundi', 'RIGHT', 'midfielder'),
('Paul Nelson', 704717, 26, 'Golden Falcons','Switzerland', 'RIGHT', 'goalkeeper'),
('Matthew Hayes', 225051, 31, 'Thunder Strikers','Montenegro', 'RIGHT', 'defender'),
('George Lewis', 999465, 38, 'Dynamo Lions','Togo', 'RIGHT', 'defender'),
('Matthew Anderson', 506204, 38, 'Victory United','Kosovo', 'RIGHT', 'defender'),
('Frank King', 549859, 17, 'Lightning Warriors','Ecuador', 'RIGHT', 'goalkeeper'),
('Eric Torres', 257460, 33, 'Lightning Warriors','Bolivia', 'RIGHT', 'goalkeeper'),
('William Hamilton', 119616, 20, 'Victory United','Mongolia', 'RIGHT', 'goalkeeper'),
('Joseph Payne', 606587, 27, 'Galaxy FC','Equatorial Guinea', 'LEFT', 'defender'),
('Kenneth Martinez', 609527, 20, 'Royal Tigers','Panama', 'RIGHT', 'midfielder'),
('Charles Wilson', 670823, 35, 'Golden Falcons','Belgium', 'RIGHT', 'goalkeeper'),
('Scott Ramirez', 515581, 26, 'Star United','Chile', 'RIGHT', 'goalkeeper'),
('Charles Harrison', 947902, 33, 'Star United','Luxembourg', 'RIGHT', 'striker'),
('Joseph Sanchez', 222197, 36, 'Golden Falcons','Singapore', 'RIGHT', 'goalkeeper'),
('Donald Long', 617858, 37, 'Royal Tigers','Niger', 'RIGHT', 'goalkeeper'),
('Matthew Hayes', 202300, 17, 'Fireball FC','Lithuania', 'RIGHT', 'goalkeeper'),
('Daniel Fisher', 141536, 35, 'Fireball FC','Czech Republic', 'RIGHT', 'defender'),
('Frank James', 165317, 35, 'Lightning Warriors','Finland', 'RIGHT', 'midfielder'),
('Matthew Hayes', 905368, 26, 'Victory United','Liberia', 'LEFT', 'midfielder'),
('David Diaz', 276972, 27, 'Fireball FC','Congo', 'RIGHT', 'striker'),
('Daniel Fisher', 452894, 34, 'Royal Tigers','Pakistan', 'RIGHT', 'striker'),
('John Pierce', 678948, 22, 'Galaxy FC','Taiwan', 'RIGHT', 'goalkeeper'),
('Robert Gonzalez', 537924, 37, 'Golden Falcons','Samoa', 'RIGHT', 'midfielder'),
('Edward Cox', 991626, 26, 'Royal Tigers','Kyrgyzstan', 'RIGHT', 'goalkeeper'),
('David Diaz', 497869, 26, 'Fireball FC','El Salvador', 'RIGHT', 'striker'),
('George Lewis', 870855, 29, 'Victory United','Turkey', 'RIGHT', 'goalkeeper'),
('Daniel Taylor', 574478, 26, 'Lightning Warriors','Sierra Leone', 'RIGHT', 'defender'),
('Michael Jones', 569971, 22, 'Fireball FC','Estonia', 'RIGHT', 'goalkeeper'),
('Michael Baker', 275405, 28, 'Dynamo Lions','Czech Republic', 'RIGHT', 'goalkeeper'),
('Robert Williams', 601455, 20, 'Golden Falcons','Maldives', 'LEFT', 'defender'),
('Brian Richardson', 758661, 37, 'Fireball FC','Canada', 'RIGHT', 'defender'),
('Kenneth Hill', 453333, 35, 'Royal Tigers','Ukraine', 'RIGHT', 'defender'),
('Donald Long', 796592, 18, 'Golden Falcons','Angola', 'RIGHT', 'midfielder'),
('Thomas Moore', 267036, 25, 'Fireball FC','Palestine', 'RIGHT', 'midfielder'),
('William Edwards', 112340, 29, 'Fireball FC','Ecuador', 'RIGHT', 'striker'),
('Charles Morris', 741439, 21, 'Fireball FC','Armenia', 'RIGHT', 'midfielder'),
('Daniel Fisher', 354583, 22, 'Dynamo Lions','Tunisia', 'RIGHT', 'striker'),
('James Ford', 197100, 38, 'Thunder Strikers','Jamaica', 'RIGHT', 'defender'),
('Paul Barnes', 279813, 26, 'Victory United','Mali', 'RIGHT', 'midfielder'),
('Scott Ramirez', 198669, 38, 'Victory United','Brazil', 'RIGHT', 'defender'),
('James Parker', 853428, 29, 'Thunder Strikers','Uganda', 'RIGHT', 'goalkeeper'),
('Anthony Thomas', 687699, 25, 'Galaxy FC','Nigeria', 'RIGHT', 'goalkeeper'),
('Eric Torres', 778521, 24, 'Victory United','Moldova', 'RIGHT', 'striker'),
('Matthew Cook', 418740, 35, 'Victory United','Colombia', 'RIGHT', 'goalkeeper'),
('Jason Peterson', 365166, 23, 'Golden Falcons','Cambodia', 'RIGHT', 'goalkeeper'),
('Donald Long', 484525, 18, 'Galaxy FC','Ecuador', 'RIGHT', 'midfielder'),
('Michael Andrews', 479454, 25, 'Royal Tigers','Slovenia', 'RIGHT', 'midfielder'),
('Anthony Morgan', 255757, 30, 'Golden Falcons','Bahamas', 'RIGHT', 'midfielder'),
('Kevin Robinson', 126678, 17, 'Dynamo Lions','Vatican City', 'RIGHT', 'defender'),
('Matthew Hayes', 278279, 32, 'Lightning Warriors','Zimbabwe', 'RIGHT', 'striker'),
('Anthony Thomas', 819836, 18, 'Victory United','Somalia', 'RIGHT', 'midfielder'),
('George Howard', 970092, 21, 'Victory United','Albania', 'RIGHT', 'midfielder'),
('Scott Ramirez', 147393, 27, 'Thunder Strikers','Slovenia', 'RIGHT', 'defender'),
('Paul Simmons', 359972, 38, 'Phoenix Rovers','Netherlands', 'RIGHT', 'midfielder'),
('Kenneth Martinez', 948152, 36, 'Star United','Slovakia', 'RIGHT', 'striker'),
('Kenneth Martinez', 323449, 24, 'Golden Falcons','Nicaragua', 'RIGHT', 'goalkeeper'),
('David Brewer', 897016, 24, 'Royal Tigers','Dominican Republic', 'RIGHT', 'defender'),
('Brian Richardson', 569617, 33, 'Golden Falcons','South Africa', 'RIGHT', 'goalkeeper'),
('Robert Williams', 583710, 24, 'Galaxy FC','Lesotho', 'RIGHT', 'goalkeeper'),
('Timothy Bennett', 981035, 28, 'Dynamo Lions','Finland', 'RIGHT', 'defender'),
('Daniel Fisher', 706946, 33, 'Dynamo Lions','Jamaica', 'LEFT', 'midfielder'),
('Mark Simmons', 924277, 35, 'Fireball FC','Congo', 'RIGHT', 'striker'),
('David Davis', 306767, 23, 'Phoenix Rovers','Equatorial Guinea', 'RIGHT', 'defender'),
('William Brown', 261381, 31, 'Royal Tigers','Gabon', 'RIGHT', 'defender'),
('Edward Rodriguez', 296074, 21, 'Fireball FC','Colombia', 'LEFT', 'goalkeeper'),
('Joshua Roberts', 441697, 36, 'Phoenix Rovers','Sao Tome and Principe', 'RIGHT', 'goalkeeper'),
('Scott Ramirez', 250802, 27, 'Fireball FC','Gambia', 'RIGHT', 'goalkeeper'),
('Michael Jones', 693073, 21, 'Thunder Strikers','Denmark', 'RIGHT', 'defender'),
('Thomas Rogers', 449220, 31, 'Golden Falcons','Honduras', 'RIGHT', 'midfielder'),
('David Brewer', 982394, 23, 'Royal Tigers','Malawi', 'RIGHT', 'goalkeeper'),
('Michael Collins', 808931, 22, 'Phoenix Rovers','Kyrgyzstan', 'RIGHT', 'goalkeeper'),
('Andrew Thompson', 452589, 32, 'Lightning Warriors','Liberia', 'RIGHT', 'midfielder'),
('Eric Torres', 711706, 19, 'Phoenix Rovers','Denmark', 'RIGHT', 'goalkeeper'),
('Andrew Rivera', 138528, 18, 'Victory United','Belarus', 'RIGHT', 'striker'),
('Joshua Jenkins', 795329, 29, 'Victory United','Palau', 'RIGHT', 'defender'),
('Paul Nelson', 199996, 22, 'Royal Tigers','Equatorial Guinea', 'RIGHT', 'goalkeeper'),
('Daniel Walker', 634955, 22, 'Royal Tigers','Malta', 'RIGHT', 'goalkeeper'),
('David Ward', 905506, 26, 'Star United','Morocco', 'RIGHT', 'striker'),
('Jason Peterson', 834972, 26, 'Thunder Strikers','Mali', 'RIGHT', 'goalkeeper'),
('Michael Foster', 699791, 24, 'Galaxy FC','Sweden', 'RIGHT', 'goalkeeper'),
('George Lewis', 946161, 35, 'Phoenix Rovers','Saudi Arabia', 'RIGHT', 'goalkeeper'),
('Anthony Curtis', 788401, 20, 'Thunder Strikers','Suriname', 'RIGHT', 'striker'),
('Charles Wilson', 725877, 23, 'Victory United','Iraq', 'RIGHT', 'goalkeeper'),
('Donald Long', 634942, 25, 'Dynamo Lions','Latvia', 'RIGHT', 'defender'),
('Scott Ramirez', 427829, 28, 'Royal Tigers','Bolivia', 'LEFT', 'defender'),
('Joseph Payne', 426207, 35, 'Thunder Strikers','Cyprus', 'RIGHT', 'striker'),
('Donald Long', 430980, 18, 'Victory United','Slovenia', 'RIGHT', 'goalkeeper'),
('Steven Russell', 582597, 29, 'Victory United','Chad', 'RIGHT', 'goalkeeper'),
('Daniel Fisher', 559020, 22, 'Royal Tigers','Bangladesh', 'RIGHT', 'goalkeeper'),
('Charles Morris', 250291, 34, 'Phoenix Rovers','Cuba', 'RIGHT', 'midfielder'),
('Andrew Brooks', 963530, 20, 'Lightning Warriors','Ethiopia', 'RIGHT', 'striker'),
('Daniel Taylor', 421791, 17, 'Golden Falcons','Bulgaria', 'RIGHT', 'striker'),
('Michael Collins', 727372, 38, 'Victory United','Venezuela', 'RIGHT', 'midfielder'),
('Steven Perez', 907954, 37, 'Thunder Strikers','North Macedonia', 'RIGHT', 'goalkeeper'),
('Michael Jones', 634946, 34, 'Victory United','Sweden', 'RIGHT', 'midfielder'),
('Andrew Brooks', 847353, 19, 'Royal Tigers','Central African Republic', 'RIGHT', 'defender'),
('Jason Allen', 368366, 35, 'Lightning Warriors','Chad', 'RIGHT', 'striker'),
('Charles Morris', 540028, 37, 'Royal Tigers','Bolivia', 'RIGHT', 'midfielder'),
('Edward Cox', 358456, 21, 'Thunder Strikers','Belgium', 'RIGHT', 'goalkeeper'),
('Brian Richardson', 342526, 18, 'Fireball FC','New Zealand', 'RIGHT', 'midfielder'),
('Daniel Taylor', 189631, 20, 'Fireball FC','Mongolia', 'RIGHT', 'midfielder'),
('Daniel Taylor', 603983, 37, 'Royal Tigers','Mauritius', 'RIGHT', 'goalkeeper'),
('Kenneth Martinez', 255537, 35, 'Royal Tigers','Taiwan', 'RIGHT', 'goalkeeper'),
('Jeffrey Young', 751652, 29, 'Star United','Burundi', 'RIGHT', 'midfielder'),
('John Evans', 653844, 17, 'Thunder Strikers','Rwanda', 'RIGHT', 'striker'),
('Paul Martin', 717584, 36, 'Galaxy FC','United Kingdom', 'RIGHT', 'goalkeeper'),
('Edward Cox', 701384, 35, 'Royal Tigers','Nigeria', 'RIGHT', 'striker'),
('Brian Richardson', 465662, 21, 'Star United','Hungary', 'RIGHT', 'defender'),
('Jason Allen', 660754, 27, 'Star United','Solomon Islands', 'RIGHT', 'midfielder'),
('Anthony Morgan', 586598, 34, 'Galaxy FC','Dominica', 'RIGHT', 'striker'),
('William Edwards', 239388, 25, 'Golden Falcons','San Marino', 'RIGHT', 'midfielder'),
('Scott Hernandez', 230982, 23, 'Galaxy FC','Cambodia', 'RIGHT', 'midfielder'),
('Christopher Myers', 789252, 36, 'Lightning Warriors','Ukraine', 'RIGHT', 'striker'),
('Andrew Brooks', 367725, 35, 'Thunder Strikers','Mauritius', 'RIGHT', 'midfielder'),
('William Edwards', 659750, 33, 'Royal Tigers','Croatia', 'RIGHT', 'striker'),
('Matthew Phillips', 503813, 34, 'Victory United','Serbia', 'RIGHT', 'goalkeeper'),
('Paul Simmons', 829944, 31, 'Dynamo Lions','Egypt', 'RIGHT', 'striker')
''')

In [74]:
c.execute('''
INSERT INTO goalkeepers (match_number, game_team, goalkeeper_name, id, goalkeeper_fantasy_points, goalkeeper_saves, min_played) 
VALUES
(1, 'Royal Tigers','Daniel Taylor', 603983, 6,1,90),
(1,'Thunder Strikers', 'Edward Cox', 358456, 6,2,90),
(2,'Golden Falcons', 'Brian Richardson', 569617, 0,0,90),
(2,'Star United', 'Michael Andrews', 209863, 0,0,90),
(3,'Fireball FC', 'Daniel Dixon', 521235, 1,2,90),
(3,'Lightning Warriors', 'Joseph Miller', 258065, 2,2,90),
(4,'Phoenix Rovers','Matthew Anderson', 468152, 6,0,90),
(4,'Galaxy FC', 'John Johnson', 869371, 5,3,90),
(5,'Victory United', 'David Brewer', 318317, 0,3,90),
(5,'Dynamo Lions', 'Matthew Cook', 375470, 3,2,90)''')

In [51]:
c.execute('''
INSERT INTO matches (team, opponent_team, game_week, match_number, date_of_play, weekday_of_play, hour_of_play, result, goals_scored, goals_conceded, total_goals, location, referee, crowd ) 
VALUES
('Royal Tigers', 'Thunder Strikers', 1, 1,'2015-08-11','Sunday', 15, 'Draw', 0, 0, 0,'Home', 'Harry Moth', 45000),
('Thunder Strikers', 'Royal Tigers', 1, 1,'2015-08-11','Sunday', 15, 'Draw', 0, 0, 0,'Away', 'Harry Moth', 45000),
('Golden Falcons', 'Star United', 1, 2,'2015-08-12','Monday', 15, 'Loser', 1, 2, 3,'Home', 'Zohar Danish', 65000),
('Star United', 'Golden Falcons',  1, 2,'2015-08-12','Monday', 15, 'Winner', 2, 1, 3,'Away', 'Zohar Danish', 65000),
('Fireball FC', 'Lightning Warriors', 1, 3,'2015-08-12','Monday', 17, 'Winner', 5, 1, 6,'Home', 'Amir Kenetth', 42000),
('Lightning Warriors', 'Fireball FC',  1, 3,'2015-08-12','Monday', 17, 'Loser', 1, 5, 6,'Away', 'Amir Kenetth', 42000),
('Phoenix Rovers', 'Galaxy FC', 1, 4,'2015-08-12','Monday', 20, 'Winner', 4, 3, 7,'Home', 'Shay Melech', 100000),
('Galaxy FC', 'Phoenix Rovers',  1, 4,'2015-08-12','Monday', 20, 'Loser', 3, 4, 7,'Away', 'Shay Melech', 100000),
('Victory United', 'Dynamo Lions', 1, 5,'2015-08-13','Tuesday', 18, 'Loser', 1, 3, 4,'Home', 'Zhazha Malca', 75000),
('Dynamo Lions', 'Victory United', 1, 5,'2015-08-13','Tuesday', 18, 'Winner', 3, 1, 4,'Home', 'Zhazha Malca', 75000)
''');

In [55]:
c.execute(
'''
INSERT INTO stats (match_number, yellow_cards, red_cards, offsides, corners) 
VALUES
(1, 0,0, 3,11),
(2,1, 1, 1, 1),
(3,2,3,7,17),
(4,0,0,0,6),
(5,0,3,0,2)
''')

In [60]:
c.execute('''
INSERT INTO teams (name, budget, home) 
VALUES
('Royal Tigers', 5900394, 'Star City'),
('Thunder Strikers',1893753, 'Mulan'),
('Golden Falcons',128402394, 'Funky Town'),
('Star United',192734683, 'Stochastic Heights'),
('Fireball FC', 1284723, 'Randomistan Ville'),
('Lightning Warriors', 100472, 'Xhistron'),
('Phoenix Rovers', 8267048, 'Metropolis'),
('Galaxy FC', 374833382, 'BananaGPT City'),
('Victory United', 3772192, 'Gotham'),
('Dynamo Lions', 729237, 'New New York')
''');

In [83]:
c.execute('''
INSERT INTO scorers (id, name, goal_type, goal_minute, match_number) 
VALUES
(263618, 'Robert Williams', 'Header', 20, 2),
(263618, 'Robert Williams', 'Kick from outside the box', 88, 2),
(622400, 'Thomas Rogers', 'Kick from inside the box', 13, 2),
(432493,'Donald Long', 'Header', 6, 3),
(432493,'Donald Long', 'Kick from inside the box', 28, 3),
(432493,'Donald Long', 'Kick from inside the box', 86, 3),
(664968, 'Daniel Reed', 'Kick from inside the box', 13, 3 ),
(454198, 'Eric Hall', 'Kick from outside the box', 58, 3),
(736057, 'George Howard', 'Bycicle kick', 17, 3),
(413103, 'Joshua Cooper', 'Penalty', 42,4),
(413103, 'Joshua Cooper', 'Header', 44,4),
(974556,'Robert Gonzalez', 'Kick from outside the box', 48, 4),
(229873, 'Robert Berry', 'Header', 78, 4),
(230982, 'Scott Hernandez', 'Kick from inside the box', 22, 4),
(586598, 'Anthony Morgan', 'Kick from inside the box', 82, 4),
(586598, 'Anthony Morgan', 'Kick from inside the box', 90, 4),
(634946, 'Michael Jones', 'Kick from outside the box', 37,5),
(981035, 'Timothy Bennett', 'Header', 42, 5),
(126678, 'Kevin Robinson', 'Kick from inside the box', 65, 5),
(354583, 'Daniel Fisher', 'Penalty', 90, 5)
''');

## Data Analysis

In [95]:
##Count the total scored goals by nationality
c.execute('''
          SELECT dp.nationality, 
                 count(*) AS total_goals
          FROM scorers s 
          INNER JOIN dim_players dp
          ON s.id=dp.id
          GROUP BY nationality
          ORDER BY 2 DESC
          ''')
df = pd.DataFrame(c.fetchall())
df.head()

              0  1
0        Angola  3
1         Qatar  2
2    Kyrgyzstan  2
3      Dominica  2
4  Vatican City  1

In [103]:
##Get the type of referee according to the yellow cards that he provided
c.execute('''
          SELECT DISTINCT m.referee, s.yellow_cards,
                 CASE WHEN yellow_cards >= 2 THEN 'Hard Referee' else 'Fair Referee' END AS 'Referee_Type' 
          FROM matches m 
          INNER JOIN stats s
          ON m.match_number = s.match_number
          ORDER BY 2 DESC
          ''')
df = pd.DataFrame(c.fetchall())
df.head()

              0  1             2
0  Amir Kenetth  2  Hard Referee
1  Zohar Danish  1  Fair Referee
2    Harry Moth  0  Fair Referee
3   Shay Melech  0  Fair Referee
4  Zhazha Malca  0  Fair Referee

In [106]:
##Select all the goals made by players whose first letter of their name starts with R
c.execute('''
          SELECT *
          FROM scorers s
          WHERE s.name LIKE 'R%'
          ''')
df = pd.DataFrame(c.fetchall())
df.head()

        0                1                          2   3  4
0  263618  Robert Williams                     Header  20  2
1  263618  Robert Williams  Kick from outside the box  88  2
2  974556  Robert Gonzalez  Kick from outside the box  48  4
3  229873     Robert Berry                     Header  78  4

In [120]:
##Count the number of goals conceded per goalkeeper, his saves and his fantasy points
c.execute('''
          SELECT g.goalkeeper_name, sum(m.goals_conceded), g.goalkeeper_saves, g.goalkeeper_fantasy_points
          FROM goalkeepers g
          INNER JOIN dim_players dp
          ON g.id = dp.id
          INNER JOIN matches m
          ON g.match_number=m.match_number
          AND dp.team = m.team
          GROUP BY g.goalkeeper_name, g.goalkeeper_saves, g.goalkeeper_fantasy_points
          ORDER BY 2 DESC
          ''')
df = pd.DataFrame(c.fetchall())
df.head()

                  0  1  2  3
0     Joseph Miller  5  2  2
1      John Johnson  4  3  5
2      David Brewer  3  3  0
3  Matthew Anderson  3  0  6
4  Brian Richardson  2  0  0

In [123]:
#Show each team's budget, crowd and city
c.execute('''
          SELECT t.name, t.home, t.budget, m.crowd
          FROM teams t
          INNER JOIN matches m
          ON t.name=m.team
          ''')
df = pd.DataFrame(c.fetchall())
df.head()

                  0                   1          2      3
0      Royal Tigers           Star City    5900394  45000
1  Thunder Strikers               Mulan    1893753  45000
2    Golden Falcons          Funky Town  128402394  65000
3       Star United  Stochastic Heights  192734683  65000
4       Fireball FC   Randomistan Ville    1284723  42000

In [125]:
#Sum the goals scored away and home
c.execute('''
          SELECT m.location,
                 SUM(goals_scored)
          FROM matches m
          GROUP BY m.location
          ''')
df = pd.DataFrame(c.fetchall())
df.head()

      0   1
0  Away   6
1  Home  14

In [127]:
#Sum the goals scored away and home
c.execute('''
          SELECT CASE WHEN goal_minute < 45 THEN 'First Half' ELSE 'Second Half' END AS Half,
                      COUNT(*)
          FROM scorers
          GROUP BY 
          ''')
df = pd.DataFrame(c.fetchall())
df.head()

        0                1                          2   3  4
0  263618  Robert Williams                     Header  20  2
1  263618  Robert Williams  Kick from outside the box  88  2
2  622400    Thomas Rogers   Kick from inside the box  13  2
3  432493      Donald Long                     Header   6  3
4  432493      Donald Long   Kick from inside the box  28  3